[AWS]
aws_access_key_id=YOUR_KEY
aws_secret_access_key=YOUR_SECRET
region_name=us-east-2
job_queue=sqs_url
package_queue=sqs_url


[WOS_DATABASE_INFO]
database-host=localhost
database-port=5432
database-name=web_of_science
database-username=*****
database-password=******

[MAG_DATABASE_INFO]
database-host=localhost
database-port=5432
database-name=web_of_science
database-username=*****
database-password=******

[MAG_GRAPH_DB_INFO]
database-url=bolt://localhost:7687
database-username=neo4j
database-password=******
import-dir=/data/efs/neo4j_output

[WOS_GRAPH_DB_INFO]
database-url=bolt://localhost:7687
database-username=neo4j
database-password=******
import-dir=/data/efs/neo4j_output

[CADRE_META_DATABASE_INFO]
database-host=localhost
database-port=5432
database-name=cadre
database-username=cadre
database-password=cadre

[EFS]
efs-root-query-results-listener=/home/ubuntu/efs-mount-point/
efs-subpath-query-results-listener=home/cadre-query-results
efs-root-mag_neo4j-import-listener=/home/ubuntu/efs-mount-point/neo4j_output
efs-root-wos_neo4j-import-listener=/home/ubuntu/efs-mount-point/neo4j_output

[PACKAGES]
tools_s3_root=s3://cadre-tools
archive_s3_root=s3://cadre-file-archive
kub_namespace=jhub
cadre-pv-name=cadre-query-results
cadre-pvc-name=efs
docker-hub-username=cadreit
docker-hub-pwd=
docker-repo=packages
kub-config-file=/home/ubuntu/.kube/config
kub-docker-secret=cadrecred